name: Continuous Translation

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: install continus translator
      run: git clone https://github.com/OpenTranslationCommunity/repo-i18n-private
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r repo-i18n-private/requirements.txt
    - name: Run translation
      run: |
        python repo-i18n-private/main.py
      env:
        GIT_REPO_URL: ${{ secrets.GIT_REPO_URL }}
        SOURCE_LANGUAGE: en
        TARGET_LANGUAGE: zh
        API_KEY: ${{ secrets.API_KEY }}
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: .
